//fonts main, header, style, Poppins, Lato, Raleway, Muli, Dosis, Libre Barcode 39


$navbar-height: 80px;
$body-bg: #FFF;
$body-color: #2B2B2B; //main font color

$color-primary-0: #138085;	// Main Primary color */
$color-primary-1: #7CD8DD;
$color-primary-2: #3DAFB4;
$color-primary-3: #01676C;
$color-primary-4: #004144;

$color-complement-0: #DC761E;	// Main Complement color */
$color-complement-1: #FFC28E;
$color-complement-2: #FFA455;
$color-complement-3: #B25200;
$color-complement-4: #703400;
