<footer class="bg-light">
  <div class="container py-3">
    <div class="row text-center justify-content-center">
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fa fa-dropbox fa-2x"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fa fa-flickr fa-2x"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fa fa-github fa-2x"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin fa-2x"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fa fa-tumblr fa-2x"></i></a></li>
      </ul>
    </div>
    <div class="row text-center justify-content-center">
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Home</a></li>
        <li class="list-inline-item"><a href="#">About</a></li>
        <li class="list-inline-item"><a href="#">Blog</a></li>
        <li class="list-inline-item"><a href="#">Gallery</a></li>
        <li class="list-inline-item"><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="text-center justify-content-center">
     	<p class="thin-poppins small">Copyright © 2018 All rights reserved</p>
    </div>
  </div>
</footer>
